
    <ul class="tabs" data-tab>
      <li class="tab-title active profile-tab-wrapper"><a href="#profile">Profie</a></li>
      <li class="tab-title profile-tab-wrapper"><a href="#my-images">My images</a></li>
      <li class="tab-title profile-tab-wrapper"><a href="#followings">Followings</a></li>
      <li class="tab-title profile-tab-wrapper"><a href="#followers">Followers</a></li>
    </ul>

    <div class="tabs-content">
      <div class="content active" id="profile">
        <p>Username: <%= current_user.username %></p>
        <p>Blurb: <%= current_user.blurb %></p>
        <p>Avatar: <%= image_tag current_user.avatar.url(:thumb) %></p>
      </div>
      <div class="content" id="my-images">
        <% current_user.images.each do |image|%>
          <%= image_tag image.sharedimg.url(:thumb) %>
        <%end%>
      </div>
      <div class="content" id="followings">
        <% current_user.follows.each do |follow|%>
          <%= follow.followee.username %>
        <%end%>
      </div>
      <div class="content" id="followers">
        <% current_user.inverse_follows.each do |i_follow|%>
          <%= i_follow.user.username %>
        <%end%>
      </div>
    </div>

