    <ul class="tabs" data-tab>
      <li class="tab-title active profile-tab-wrapper"><a href="#profile">Profie</a></li>
      <li class="tab-title profile-tab-wrapper"><a href="#my-images">My images</a></li>
      <li class="tab-title profile-tab-wrapper"><a href="#followings">Followings</a></li>
      <li class="tab-title profile-tab-wrapper"><a href="#followers">Followers</a></li>
    </ul>

    <div class="tabs-content">
      <div class="content active" id="profile">
      <div class="panel callout radius text-center">
        <h1> <%= @profile.username %> </h1>
        </tr>
        <p><%= image_tag @profile.avatar.url(:thumb) %> </p>
        <h4>Blurb</h4>
        <p><%= @profile.blurb %></p>
      </div>
      </div>
      <div class="content" id="my-images">
        <% @profile.images.each do |image|%>
          <%= image_tag image.sharedimg.url(:thumb) %>
        <%end%>
      </div>
      <div class="content" id="followings">
        <% @profile.follows.each do |follow|%>
          <div class="panel callout radius text-center">
            <%= image_tag follow.followee.avatar.url(:thumb) %>
            <%= link_to follow.followee.username, profile_path(follow.followee.id) %>
          </div>
        <%end%>
      </div>
      <div class="content" id="followers">
          <% @profile.inverse_follows.each do |i_follow|%>
          <div class="panel callout radius text-center">
            <%= image_tag i_follow.user.avatar.url(:thumb) %>
            <%= link_to i_follow.user.username, profile_path(i_follow.user.id) %>
          </div>
        <%end%>
      </div>
    </div>
