<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <%= f.text_field :username, autofocus: true %>
  <%= f.email_field :email, autofocus: true %>
  <%= f.password_field :password, autocomplete: "off" %>
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
  <%= f.file_field :avatar %>

  <%= f.submit "Sign up" %>
<% end %>

<%= render "devise/shared/links" %>
