<div class="individual-comment <%= 'nested-comment' if comment.commentable_type == 'Comment'%>" data-id='<%= comment.id %>'>
  <div class="panel">
    <div class="row">
      <div class="small-8 columns">
        <p><%= comment.content %></p>
      </div>
      <div class="small-4 columns">
        <div class="stacked-buttons text-right">
          <a href="#" class="button <%= vote_class(comment, true) %> vote upvote" id="micro"><%= fa_icon 'arrow-up' %></a> <br />
          <a href="#" class="button <%= vote_class(comment, false) %> vote downvote" id="micro"><%= fa_icon 'arrow-down' %></a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="medium-10 columns">
      <p><strong><%=comment.user.username%></strong> <%= time_ago_in_words(comment.created_at) %> ago</p>
    </div>
    <div class="medium-2 columns">
      <p class="right footer-icons"><a href='#' class="comment-reply"><%= fa_icon 'edit'%></a> &nbsp; <a class="expand-comments"> <%= fa_icon 'angle-double-down' %></a></p>
    </div>
  </div>
  <div class="comment-comment-form row collapse">

    <%= form_for new_comment, url: comment_comments_path(comment), :html => {:class => "nice new_comment_form"} do |f| %>
      <div class="small-10 columns">
      <%= f.text_field :content, label: false, placeholder: 'Enter comment...' %>
      </div>
      <div class="small-2 columns">
        <%= f.submit 'Add', class: 'button postfix' %>
      </div>
    <% end %>
  </div>
  <%= render partial: 'comments/comment', collection: comment.comments, locals: { new_comment: new_comment } %>
</div>


<!-- <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" placeholder="Hex Value">
        </div>
        <div class="small-2 columns">
          <a href="#" class="button postfix">Go</a>
        </div>
      </div> -->
