<div class="row">
  <div class="medium-12 medium-centered columns">
    <ul class="tabs" data-tab>
      <li class="tab-title active profile-tab-wrapper"><a href="#profile">Profile</a></li>
      <li class="tab-title profile-tab-wrapper"><a href="#my-images">My images (<%=@user.images.length%>)</a></li>
      <li class="tab-title profile-tab-wrapper"><a href="#my-favorites">Favorites (<%=@user.favorites.length%>)</a></li>
      <li class="tab-title profile-tab-wrapper"><a href="#followings">Followings (<%=@user.follows.length%>)</a></li>
      <li class="tab-title profile-tab-wrapper"><a href="#followers">Followers (<%=@user.inverse_follows.length%>)</a></li>
      <li class="tab-title profile-tab-wrapper"><a href="#notification">Notifications</a></li>
    </ul>

    <div class="tabs-content">
      <div class="content active" id="profile">
        <div class="panel callout radius text-center">
          <h1> <%= @user.username %> </h1>
          <small>Has been a member for <%= @member_length %></small>
          <p><%= image_tag @user.avatar.url(:thumb) %> </p>
          <% if user_signed_in? %>
            <% if current_user.follows.find_by_followee_id(@user.id).present? %>
              <button class ='tiny alert' id ='unfollow-button' user-id = "<%=@user.id%>" follow-id = "<%= current_user.follows.find_by_followee_id(@user.id).id%>">UnFollow</button>
            <% elsif current_user != @user %>
              <button class ='tiny' id ='follow-button' user-id = "<%=@user.id%>">Follow</button>
            <% end %>
          <% end %>
          <h3>Blurb</h3>
          <p><%= @user.blurb %></p>
        </div>
        <div class="panel callout radius text-center" id ="interest-container">
          <h3> Interests </h3>
          <% @user.interests.each do |interest|%>
            <div class = 'my-interests' interest-id = "<%= interest.id %>">
              <p><%= interest.category.description %></p>
              <% if user_signed_in? %>
                <% if @user.username == current_user.username%>
                  <button class ='tiny alert' id ='delete-button'>Delete</button>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% if user_signed_in? %>
        <% if @user.username == current_user.username%>
          <div class="row collapse">
              <div class="small-10 columns">
                <input type="text" placeholder="Enter interest" id = "interest-form">
              </div>
              <div class="small-2 columns">
                <button class="button postfix" id ="add-interest">Add</button>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
      <div class="content" id="my-images">
        <% @user.images.each do |image|%>
          <div class = 'my-images' image-id = "<%= image.id %>">
            <%= link_to image_tag(image.sharedimg.url(:thumb)), image %>
            <% if user_signed_in? %>
              <%if @user.username == current_user.username%>
                <p><button class ='alert' id ='delete-button'>Delete</button><button>Edit</button></p>
              <% end %>
            <% end %>
          </div>
        <%end%>
      </div>
      <div class="content" id="my-favorites">
          <% @user.favorites.each do |favorite|%>
          <div class = 'my-favorites' image-id = "<%= favorite.id %>">
            <%= link_to image_tag(favorite.image.sharedimg.url(:thumb)), favorite.image %>
            <% if user_signed_in? %>
              <%if @user.username == current_user.username%>
                <p><button class ='alert' id ='unfavorite-button'>Unfavorite</button></p>
              <% end %>
            <% end %>
          </div>
        <%end%>
      </div>
      <div class="content" id="followings">
        <% @user.follows.each do |follow|%>
          <div class="panel callout radius text-center">
            <div class = 'my-follows' follow-id = "<%= follow.id %>">
              <h2><%= link_to follow.followee.username, user_path(follow.followee.id) %></h2>
              <p><%= link_to image_tag(follow.followee.avatar.url(:thumb)), user_path(follow.followee.id) %></p>
              <% if user_signed_in? %>
                <%if @user.username == current_user.username%>
                  <button class ='tiny alert' id ='unfollow-button'>UnFollow</button>
                <% end %>
              <% end %>
            </div>
          </div>
        <%end%>
      </div>
      <div class="content" id="followers">
          <% @user.inverse_follows.each do |i_follow|%>
          <div class="panel callout radius text-center">
            <h2> <%= link_to i_follow.user.username, user_path(i_follow.user.id) %></h2>
            <p><%= link_to image_tag(i_follow.user.avatar.url(:thumb)), user_path(i_follow.user.id) %></p>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
