    <ul class="tabs" data-tab>
      <li class="tab-title active profile-tab-wrapper"><a href="#profile">Profile</a></li>
      <li class="tab-title profile-tab-wrapper"><a href="#my-images">My images</a></li>
      <li class="tab-title profile-tab-wrapper"><a href="#followings">Followings</a></li>
      <li class="tab-title profile-tab-wrapper"><a href="#followers">Followers</a></li>
    </ul>

    <div class="tabs-content">
      <div class="content active" id="profile">
        <div class="panel callout radius text-center">
          <h1> <%= @user.username %> </h1>
          <p><%= image_tag @user.avatar.url(:thumb) %> </p>
          <h4>Blurb</h4>
          <p><%= @user.blurb %></p>
        </div>
        <div class="panel callout radius text-center">
          <h1> Interests </h1>
          <% @user.interests.each do |interest|%>
            <div class = 'my-interests' interest-id = "<%= interest.id %>">
              <p><%= interest.category.description %></p>
              <% if @user.username == current_user.username%>
                <p><button class ='tiny alert' id ='delete-button'>Delete</button></p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="content" id="my-images">
        <% @user.images.each do |image|%>
          <div class = 'my-images' image-id = "<%= image.id %>">
            <%= link_to image_tag(image.sharedimg.url(:thumb)), image %>
            <%if @user.username == current_user.username%>
              <p><button class ='alert' id ='delete-button'>Delete</button><button>Edit</button></p>
            <% end %>
          </div>
        <%end%>
      </div>
      <div class="content" id="followings">
        <% @user.follows.each do |follow|%>
          <div class="panel callout radius text-center">
            <%= image_tag follow.followee.avatar.url(:thumb) %>
            <%= link_to follow.followee.username, user_path(follow.followee.id) %>
          </div>
        <%end%>
      </div>
      <div class="content" id="followers">
          <% @user.inverse_follows.each do |i_follow|%>
          <div class="panel callout radius text-center">
            <%= image_tag i_follow.user.avatar.url(:thumb) %>
            <%= link_to i_follow.user.username, user_path(i_follow.user.id) %>
          </div>
        <%end%>
      </div>
    </div>
