<div class="photo-grid">
  <div class="wrapper clearfix">
    <% images.first(6).each do |image| %>
      <% cache(image) do %>
        <div class="gallery-item">
          <%= link_to image_tag(image.sharedimg.url(:thumb)), image %>
          <div class="img-title">
            <h4><strong><%= link_to(image.caption, image) %></strong></h4>
            <p>Added by <%= link_to image.user.username, user_path(image.user) %><br><%= time_ago_in_words(image.created_at) %> ago</p>
            <div class="text-center"><%= link_to('View', image, class: "checkit small button")  %></div>
          </div>
        </div>
      <% end %>
    <% end %>

  <div class="title-island"><h1>hot right now</h1></div>
    <% if images[5,6].present? %>
      <% images[5,6].each do |image| %>
        <% cache(image) do %>
          <div class="gallery-item">
            <%= image_tag image.sharedimg.url(:thumb) %>
            <div class="img-title">
              <h4><strong><%= link_to(image.caption, image) %></strong></h4>
            <p>Added by <%= link_to image.user.username, user_path(image.user) %><br><%= time_ago_in_words(image.created_at) %> ago</p>
            <div class="text-center"><%= link_to('View', image, class: "checkit small button")  %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
