<div class="row homepage">
  <div class="medium-12 columns">
    <div class="photo-grid">

      <div class="wrapper clearfix">
        <% @hot_right_now.first(6).each do |image| %>
          <div class="gallery-item">
            <%= link_to image_tag(image.sharedimg.url(:thumb)), image %>
            <div class="img-title">
              <%= image.caption %>
              <p>Added by <%= link_to image.user.username, user_path(image.user) %><br><%= time_ago_in_words(image.created_at) %> ago</p>
              <h3><i class="fa fa-bullseye"></i></h3>
            </div>
          </div>
        <% end %>


      <div class="title-island"><h1>hot right now</h1></div>

        <% @hot_right_now[5,6].each do |image| %>
          <div class="gallery-item">
            <%= image_tag image.sharedimg.url(:thumb) %>
            <div class="img-title">
              <p>Added by <strong><%= image.user.username %></strong> <%= time_ago_in_words(image.created_at) %> ago.</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= render @categories %>
<!-- Start Accordion section !!!!!!!!!!!!!-->

    <div class="home-spacer"></div>
    <div class="photo-grid">

      <div class="wrapper clearfix">
        <% @fresh_pics.first(6).each do |image| %>
          <div class="gallery-item">
            <%= link_to image_tag(image.sharedimg.url(:thumb)), image %>
            <div class="img-title">
              <%= image.caption %>
              <p>Added by <strong><%= image.user.username %></strong> <%= time_ago_in_words(image.created_at) %> ago.</p>
            </div>
          </div>
        <% end %>


      <div class="title-island"><h1>fresh pics</h1></div>

        <% @fresh_pics[5,6].each do |image| %>
          <div class="gallery-item">
            <%= image_tag image.sharedimg.url(:thumb) %>
            <div class="img-title">
              <p>Added by <strong><%= image.user.username %></strong> <%= time_ago_in_words(image.created_at) %> ago.</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
