<div class="row homepage">
  <div class="medium-12 columns">

    <div class="photo-grid">
      <% @images.limit(6).each do |image| %>
        <%= link_to image_tag(image.sharedimg.url(:thumb)), image %>
      <% end %>

      <div class="title-island"><h1>hot right now</h1></div>

      <% @images.offset(6).limit(5).each do |image| %>
        <%= image_tag image.sharedimg.url(:thumb) %>
      <% end %>
    </div>

    <dl class="accordion" data-accordion>
      <dd class="accordion-navigation">
        <div class="accordion-head">
          <div class="accordion-wrapper accordion-left-wrapper">
            <a href="#collapse" class="accordion-link expander"><%= fa_icon "angle-double-up" %></a>
          </div>
          <div class="accordion-wrapper accordion-center-wrapper">
            <a href="#" class="accordion-link accordion-center">#such-pictures</a>
          </div>
          <div class="accordion-wrapper accordion-right-wrapper">
            <a href="#show-all" class="accordion-link show-all"><%= fa_icon "th" %></a>
          </div>
        </div>
        <div id="panel1" class="content active">
          <!-- <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 imagelist"> -->
            <div class="row thumb-row">
              <div class='thumb-img'><%= image_tag 'blackcats-med.jpg' %></div>
              <div class='thumb-img'><%= image_tag 'book-med.jpg' %></div>
              <div class='thumb-img'><%= image_tag 'books-med.jpg' %></div>
              <div class='thumb-img'><%= image_tag 'desk-med.jpg' %></div>
              <div class='thumb-img'><%= image_tag 'dog-md.jpg' %></div>

            </div>
          <!-- </ul> -->
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel2">Accordion 2</a>
        <div id="panel2" class="content ">
          Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel3">Accordion 3</a>
        <div id="panel3" class="content">
          Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </dd>
    </dl>

  </div>
</div>
