

<div class="row black-banner">

  <div class="small-12 large-12 columns">
    <h1>Add a new image</h1>
  </div>

</div>
<div class="row">
  <div class="medium-10 medium-centered columns text-center">
      <%= image_tag 'upload-image.png', id: 'thumb', class: 'text-center' %>
  </div>
</div>

<div class="row row-with-padding">
  <div class="medium-4 columns medium-centered text-center">

    <%= form_for(@image, :remote => true, :html => {:id => 'uploadForm', :multipart => true }) do |f| %>
     Upload a file: <%= f.file_field :sharedimg, :label => false %>

    <% end %>
  </div>
</div>

<div class="row">
  <div class="medium-8 medium-centered columns">
    <%= form_for @uploaded_image, :method => :patch, :html => {:id => 'image-add-tags-form', :class => "image-add-tags-form"} do |f| %>

      <div class="field">
        <%= f.text_field :caption %>
      </div>
      <div id="categories">
        <%= f.fields_for :categories do |category| %>
          <div class="row collapse">

            <%= render partial: 'categories/category_fields', locals: {f: category} %>

              <div class="small-2 columns links">
                <%= link_to_add_association(f, :categories, {partial: 'categories/category_fields', class: 'button postfix right'}) do %>
                  <%= fa_icon 'plus' %>
                <% end %>

            </div>
          </div>
        <% end %>
      </div>

        <%= f.submit 'Create image', class: 'right button small success radius disabled', disabled: true%>

    <% end %>
  </div>
</div>

