
<div class="row">
  <div class="medium-8 medium-centered columns">
    <%= image_tag @image.sharedimg.url(:medium) %>
  </div>
</div>


<div class="row">
  <div class="medium-6 medium-centered columns">
    <%= form_for [@image, @comment], :html => {:id => 'new_image_comment_form', :class => "nice new_comment_form"} do |f| %>
      <%= f.text_area :content, label: false, placeholder: 'Enter comment...' %>
      <%= f.submit 'Add Comment' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="medium-10 medium-centered columns" id='image-comments'>
    <h3 class="text-center">Comments</h3>

    <%= render partial: 'comments/comment', collection: @comments, locals: { new_comment: @comment } %>

  </div>
</div>

