
<div class="row">
  <div class="medium-8 medium-centered text-center columns">
    <%= image_tag @image.sharedimg.url(:medium) %>
    <div id = "image-favorite" >
      <% if current_user.favorites.find_by_image_id(@image.id).present? %>
        <button class = 'alert' id = "unfavorite-button" image-id ="<%=@image.id%>" favorite-id ="<%=current_user.favorites.find_by_image_id(@image.id).id %>">UnFavorite</button>
      <% else %>
        <button id = "favorite-button" image-id ="<%=@image.id%>">Favorite</button>
      <% end %>
    </div>
  </div>
</div>

<div class="row row-with-padding" id="image-stats" data-id="<%= @image.id %>">
  <div class="medium-3 columns text-right">
    <div class="stacked-buttons">
      <a href="#" class="button small <%= vote_class(@image, true) %> vote upvote"><%= fa_icon 'arrow-up' %></a> <br />
      <a href="#" class="button small <%= vote_class(@image, false) %> vote downvote"><%= fa_icon 'arrow-down' %></a>
    </div>
  </div>
  <div class="medium-6 columns end">
    <% @upvotes = @image.votes.where(is_upvote: true).count %>
    <% @total_votes = @image.votes.count %>
    <% @bar_width = bar_width(@upvotes, @total_votes) %>
    <div class="progress small-12 small-centered <%= bar_is_success @bar_width %> radius">
      <span class="meter" style="width:<%= @bar_width %>%"></span>
    </div>
  </div>
</div>


<div class="row">
  <div class="medium-6 medium-centered columns">
    <%= form_for [@image, @comment], :html => {:id => 'new_image_comment_form', :class => "nice new_comment_form"} do |f| %>
      <%= f.text_area :content, label: false, placeholder: 'Enter comment...' %>
      <%= f.submit 'Add Comment' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="medium-10 medium-centered columns" id='image-comments'>
    <h3 class="text-center">Comments</h3>

    <%= render partial: 'comments/comment', collection: @comments, locals: { new_comment: @comment } %>

  </div>
</div>

