<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <title>pixology</title>
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>


  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">

        <h1 class="nav-title"><%= link_to 'pixology', root_path %></h1>

      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"></li>
        <li class="has-dropdown">
          <%if user_signed_in? %><a href="#"><%= current_user.username %></a>
            <% else %> <a href="#">Join</a>
          <% end %>
          <ul class="dropdown" id="nav-dropdown">
            <% if user_signed_in? %>
            <li><%= link_to 'Profile', user_path(current_user.id) %></li>
            <li><a href="#">Notifications</a></li>
            <li><%= link_to 'Add Image', new_image_path %></li>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>

      <!-- Left Nav Section -->

    </section>
  </nav>
  <div class="top-bar search-banner">
    <div class="small-10 small-centered medium-6 medium-centered columns">
      <ul class="center">
        <li class="has-form" id="search-bar-nav">
          <div class="row collapse">
            <%= form_for :search, url: searches_path, role: 'search' do |f| %>
              <div class="large-2 small-2 columns">

                <%= f.select :search_type, "<option>Images</option><option>Users</option>".html_safe %>
              </div>
              <div class="large-7 small-8 columns">
                <%= f.text_field :query, label: false, placeholder: 'Search the collection...'%>
              </div>
              <div class="large-3 small-2 columns">
                <%= f.button type: 'submit', class: 'button expand', id: 'search-button' do %>
                  <%= fa_icon 'search' %>
                <% end %>
              </div>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <%= display_flash_messages %>
  <%= yield %>
</body>
</html>
